{% extends 'mainapp/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <title>Справочник</title>
</head>
<body>
    <section class="faq">
      <details>
        <summary id="test1">Могу ли я оформить рассрочку?</summary>
        <p>На данный момент банки-партнёры не предоставляют рассрочек,
            однако вы можете оформить кредит, посетив любой магазин сети
            <span>The iStore для более подробной информации об условиях банка.</span></p>
      </details>
      <details>
        <summary id="start">Куда обращаться в случае если устройство не работает?</summary>
        <p>По вопросам гарантийного и постгарантийного обслуживания оборудования можно
            обратиться: в любой магазин сети The iStore, позвонить на
            горячую линию 8 029 524 58 45 или по телефону +375 29 154 58 45</p>
      </details>
      <details>
        <summary id="test">Возможен ли самовывоз заказанного товара?</summary>
        <p id="testside">У Вас есть возможность самостоятельно забрать оплаченные товары.
            Минимальная сумма заказа отсутствует. <span>Платить за самовывоз не нужно.</span></p>
      </details>
      <details>
        <summary id="start1">Возможна ли доставка в города где нет ваших магазинов?</summary>
        <p>Да, вы можете приобрести товары у нас, даже если проживаете в другом регионе.
            <span>Доставка в города где нет наших магазинов сети The iStore, а сумма покупки менее 500р,
                осуществляется транспортной компанией и только при 100% предоплате.</span> Стоимость доставки составит
            20р для малогабаритного товара и 40р для крупногабаритного товара.</p>
      </details>
        <details>
        <summary id="insideme">Какие сроки доставки?</summary>
        <p>Доставка осуществляется компанией СДЭК, обычно в течении 5-7 дней</p>
      </details>
    </section>
</body>
</html>
{% endblock content %}